*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

body{
    --header_color:#dcdcdc;
    --font_coor:#333;
   
}


.ll_header_section{
   background-color: var(--header_color);
    height:76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 2px -3px 19px;
    


}

.ll_header_section img {
    padding: 5px;
    width: 120px;
}

.ll_menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap:25px;

}
.ll_menu ul a{
   text-decoration: none;
   font-weight: 600;
   color: var(--font_coor);
    
}

.ll_hero_section img{
  width: 200px;
}